name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1

      - run: cargo build

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: stable
          targets: wasm32-wasip1
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
      - uses: actions/setup-python@v6
        with:
          python-version: |
            3.12.9
            3.13.2
      - uses: actions/cache@v5
        with:
          path: cpython-3.12.9-wasi-sdk-24.0
          key: python-cpython-wasi-3.12.9-wasi-sdk-24.0.0
      - uses: actions/cache@v5
        with:
          path: cpython-3.13.2-wasi-sdk-24.0
          key: python-cpython-wasi-3.13.2-wasi-sdk-24.0.0
      - uses: actions/cache@v5
        with:
          path: wasi-sdk-24.0
          key: wasi-sdk-24.0.0
      - uses: bytecodealliance/actions/wasmtime/setup@3b93676295fd6f7eaa7af2c2785539e052fa8349

      - run: cargo run -- install-build-tools
      - run: cargo test --workspace --all-features

  lints:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1

      - run: cargo fmt -- --check
      - run: cargo clippy
