name: Package Build and Publish

on:
  workflow_dispatch:
    inputs:
      project:
        required: true
        description: "PyPI project to build"
        type: choice
        options:
          - pydantic-core
          - regex
      version:
        required: true
        description: "Project Version"
      python_3_12:
        required: false
        type: boolean
        default: true
        description: "Build for Python 3.12"
      python_3_13:
        required: false
        type: boolean
        default: true
        description: "Build for Python 3.13"
      publish:
        required: true
        default: false
        type: boolean
        description: "Publish the output to a GitHub release"
      replace_existing_release:
        required: true
        default: false
        type: boolean
        description: "Replace existing release"

run-name: Build ${{ inputs.project }} ${{ inputs.version }} by @${{ github.actor }}

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: stable
          targets: wasm32-wasip1
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
      - uses: actions/setup-python@v6
        with:
          python-version: |
            3.12.9
            3.13.2
      - uses: actions/cache@v4
        with:
          path: cpython-3.12.9-wasi-sdk-24.0
          key: python-cpython-wasi-3.12.9-wasi-sdk-24.0.0
      - uses: actions/cache@v4
        with:
          path: cpython-3.13.2-wasi-sdk-24.0
          key: python-cpython-wasi-3.13.2-wasi-sdk-24.0.0
      - uses: actions/cache@v4
        with:
          path: wasi-sdk-24.0
          key: wasi-sdk-24.0.0

      - run: cargo run -- install-build-tools
      - run: cargo run -- build ${{ inputs.project }} ${{ inputs.version }} ${{ inputs.python_3_12 && '--python-versions py3-12' || '' }} ${{ inputs.python_3_13 && '--python-versions py3-13' || '' }} ${{ inputs.publish && format('--publish --repo {0} --run-id {1}', github.repository, github.run_id) || '' }} ${{ inputs.replace_existing_release && '--replace-existing-release' || '' }}
        env:
          GH_TOKEN: ${{ github.token }}
